<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body style="background:#F4ECD9;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background:#CEAE82;">
        <div class="container">
            <a class="navbar-brand" href="#"><img src="{% static 'svg/logo.svg' %}" alt="" width="80" height="80"></img></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                <a class="nav-link" href="#">Главная страница<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Кофе</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Ингредиенты</a>
                </li>
            </ul>
            </div>
        </div>
      </nav>
      {% block content %}
      {% endblock %}

      <footer class="d-flex flex-wrap fixed-bottom justify-content-between align-items-center" style="background: #301A0B; height: 100px; opacity: .7;">
        <p class="col-md-4 mb-0 text-muted">© 2022 Кофейня</p>
    
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <img src="{% static 'svg/logo.svg' %}" class="bi me-2" width="40" height="32"></img>
        </a>
    
        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Главная страница</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Кофе</a></li>
          <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Ингредиенты</a></li>
        </ul>
      </footer>
</body>
</html>